<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taller.ngen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Inugami"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngen">
        <activity
            android:name=".adminActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPantalla2"
            android:exported="false" />
        <activity
            android:name=".Utp"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>